section#board-selection
{
	div#grid-selection
	{
		width: 322px;
		height: 322px;
		.box-sizing();
		position: relative;
		z-index: 2;
		margin: 30px auto 40px auto;

		&:before
		{
			content: "";
			display: block;
			position: absolute;
			width: 360px;
			height: 360px;
			top: -20px;
			left: -20px;
			z-index: 1;
			.gradient(@bingoTop, @bingoBottom, @bingoTop);

		}
		&:after 
		{
			content: "";
			display: block;
			position: absolute;
			top: -10px;
			left: -10px;
			width: 316px;
			height: 316px;
			background-color: @bingoSquareBackground;
			z-index: 2;
			border: solid 10px @bingoInnerBorder;
			.drop-shadow(2px, 2px, 2px, 0.25);
		}
		

		button
		{
			background-color: @bingoSquare;
			width: 60px;
			height: 60px;
			border:solid 1px rgba(128,128,128,0);
			display: block;
			float: left;
			margin: 0px 4px 4px 0px;
			.box-sizing();
			.transition(0.5s);
			cursor: pointer;
			position: relative;
			z-index: 5;
			
			.drop-shadow(2px, 2px, 2px, 0.5);
			&:nth-child(n+20) {
				.drop-shadow(2px, 0px, 0px, 0.5);
			}
			&:nth-child(5n+5) {
				.drop-shadow(0px, 2px, 0px, 0.5);
			}
			&:nth-child(25)
			{
				.drop-shadow(0px, 2px, 0px, 0);
			}

			&:after 
			{
				opacity: 0;
				content: "";
				display: block;
				background: url(../app-images/bingo-x.jpg) no-repeat;
				width: 42px;
				height: 48px;
				.transition(0.5s);
			}
			

			&.hovered
			{
				&:after 
				{
					opacity: 0.25;
					.transition(0.5s);
				}
			}

			&.selected
			{
				&:after 
				{
					opacity: 1;
					.transition(0.5s);
				}
			}

		}
		button:nth-child(5n+1)
		{
			clear: left;
		}
	}

	& > p 
	{
		font-size: 20px;
		margin-bottom: 0px;
		text-align: center;
		color: @text;
	}
	div#sample-card
	{
		padding-top: 4px;
		width: 360px;
		margin: 10px auto 20px auto;
		.box-sizing();
		position: relative;

		img {display: block; width: 100%;}

		div.sample-grid
		{
			.box-sizing();
			position: absolute;
			padding-top: 4px;
			padding-left: 0px;
			top: 147px;
			left: 15px;
			width: 327px;
			height: 354px;

			span.block
			{
				display: block; float: left;
				background-color: #f6d670; //246 214 112
				padding: 0px;

				img {
					display: block;
					margin: 0px auto;
					position: relative;
					width: 80%;
					top: 50%;
				}
			}
			
			&.cols-5 span.block
			{
				width: 60px;
				margin-left: 3px;
			}
			&.rows-5 span.block
			{
				height: 64px;
				margin-bottom: 4px;
			}
			&.cols-4 span.block
			{
				width: 75px;
				margin-left: 3px
			}
			&.rows-4 span.block
			{
				height: 82px;
				margin-bottom: 3px
			}
			&.cols-3 span.block
			{
				width: 102px;
				margin-left: 3px
			}
			&.rows-3 span.block
			{
				height: 110px;
				margin-bottom: 3px;
			}
			&.cols-2 span.block
			{
				width: 154px;
				margin-left: 3px;
			}
			&.rows-2 span.block
			{
				height: 167px;
				margin-bottom: 3px;
			}
			&.cols-1 span.block
			{
				width: 311px;
				margin-left: 3px;
			}
			&.rows-1 span.block
			{
				height: 337px;
				margin-bottom: 3px;
			}

			&.cols-1.rows-2 span.block img
			{
				width: 60%;
			}

			&.cols-2.rows-5 span.block img,
			&.cols-1.rows-3 span.block img
			{
				width: 40%;
			}
			&.cols-1.rows-5 span.block img
			{
				width: 20%;
			}
			&.cols-2.rows-4 span.block img
			{
				width: 50%;
			}
			&.cols-1.rows-4 span.block img
			{
				width: 30%;
			}
			&.cols-3.rows-5 span.block img
			{
				width: 70%;
			}

			border: solid 5px rgba(162,170,66,1) ;//#a2aa42; //162 170 66
			background-color: #cd232f;
		}
	}
}