section#category-selection
{
	form
	{
		.box-sizing();
		list-style:none;

		div.free,div.premium
		{
			.box-sizing();
			width: 50%;
			float: left;
			h2 {
				padding-left: 22%;
				font-size: 34px;}
		}
		div.free h2 {text-align: center;}
		div.free div.formrow label {padding-left: 22%;}
		div.premium h2 {text-align: left;}
		div.formrow
		{
			.box-sizing();
			margin-top: 40px;

			&:nth-child(2) label img {
				.rotation(-2deg);
			}

			input[type="radio"]
			{
				position: absolute;
				left: -9999px;

				&:checked + label
				{
					border-color:blue;
				}
			}
			label
			{
				padding: 0px;
				cursor: pointer;
				overflow: visible;
				font-size: 40px;
				width: 70%;
				margin: 0px 0%;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover span.label {text-decoration: underline;}

				img {
					display: block;
					float: left;
					width: 40%;
					margin-right: 0%;
					border: solid 1px #ddd;
					.box-sizing();
					.rotation(3deg);
					.drop-shadow(2px, 4px, 4px, 0.1); 
				}
				span.label
				{
					display: block;
					font-size: 30px;
					color: @accent;
					float: left;
					text-align: right;
					width: 40%;
					margin-right: 10%;
					.box-sizing();
				}
			}

			@media only screen and (max-width:768px) {
				label span.label {font-size: 16px;}
			}
			

			&.selected 
			{
				border: solid 1px blue;
				background-color: white;
			}
		}

		input[type="submit"]
		{
			position: relative;
			display: block;
			clear: both;
			width: 150px;
			height: 40px;
			font-size: 24px;
			margin:0px auto;
			top: 20px;
		}
	}

	div.buttonrow {
		text-align: center;
		padding-top:50px;
		margin-bottom: 20px;
		clear: both;

		button {
			padding: 10px;
			font-size: 16px;
			border: none;
			background-color: @accent;
			color: white;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
		}
	}
}