section#generation
{
	div.buttonrow
	{
		text-align: center;

		button 
		{
			display: inline-block;
			padding: 10px;
			background-color: @accent;
			color: white;
			border:none;
			font-size: 20px;
			margin-top: 20px;
		}
	}

	form {
		input{
			display: block;
			width: 300px;
			height: 35px;
			border: solid 1px #dedede;
			border-radius: 8px;
			margin: 0px auto 0px auto;
			font-size: 18px;
			padding: 5px;
			box-sizing: border-box;
		}
		label {
			display: block;
			margin-top: 40px;
			margin-bottom: 10px;
			font-style: italic;
			color: @text;
		}
		button:disabled {
			opacity: 0.25;
		}
	}

	p.prompt 
	{
		text-align: center;
	}

	img.loader 
	{
		display: block;
		margin: 10px auto;
		width: 128px;
	}
}