section#landing-page
{
	header h1 {margin-top:30px; margin-bottom: 0px; padding: 0px; color: @accent; font-size: 40px; line-height: 40px; font-weight: 400; text-align: center;}
	ul
	{
		text-align: center;
		width: 75%;
		.box-sizing();
		list-style: none;
		margin: 20px auto;
		padding: 0px;
		li
		{
			.box-sizing();
			width: 33%;
			float: left;
			padding: 5px;
			color: @accent;
			font-weight: 700;
			font-size: 20px;

			a {text-decoration: none; color: @accent; &:hover {text-decoration: underline;}}

			img {
				display: block;
				width: 100%;
			}

			span 
			{
				display: block;
			}
		}
	}
	ul+p {clear: both; padding-top: 20px; font-size: 20px; color: @text;  text-align: center;
			span.highlight {
				font-size: 30px;
				font-weight: 700;
			}
	}

	ol
	{
		list-style: none;
	}

	button
	{
		width: 380px;
		height: 262px;
		display: block;
		margin: 30px auto;
		font-size: 24px;
		border: none;
		padding: 0px;
		background-color: white;
		cursor: pointer;
		img 
		{
			width: 380px;
			height: 262px;
		}
	}

}