<header>
	<h1 ng-if="mode != 'download' &amp;&amp; !free"><span class="step">Step 4:</span> Add Your Cards to Your Cart</h1>
	<h1 ng-if="mode == 'download' || free"><span class="step">Step 4:</span> Download Your Bingo Cards</h1>
	<p>Click the button below to generate your download bundle.</p>
</header>
<div class="buttonrow">
	
	<button ng-if="mode != 'download' &amp;&amp; !downloadLink &amp;&amp; !saving &amp;&amp; !free" ng-click="generatePDF()">Add to Cart</button>
	<button ng-if="mode == 'download' &amp;&amp; !downloadLink &amp;&amp; !saving" ng-click="generateDownload()">Generate PDF</button>
	<a ng-if="mode == 'download' &amp;&amp; downloadLink &amp;&amp; !saving" ng-href="{{downloadLink}}">Download Your Bingo Package!</a>
	<p class="prompt" ng-if="mode == 'download' &amp;&amp; downloadLink &amp;&amp; !saving">Your Bingo bundle will persist at the URL above. Please bookmark it for safekeeping.</p>
	
	<button ng-if="free &amp;&amp; !downloadLink &amp;&amp; !saving" ng-click="generatePDF()">Generate PDF</button>
	<a ng-if="free &amp;&amp; downloadLink &amp;&amp; !saving" ng-href="{{downloadLink}}">Download Your Bingo Package!</a>
	<p class="prompt" ng-if="free &amp;&amp; downloadLink &amp;&amp; !saving">Your Bingo bundle will persist at the URL above. Please bookmark it for safekeeping.</p>

	<p ng-if="mode != 'download' &amp;&amp; saving">
		Configuring your Bingo package...
		<img class="loader" ng-src="app-images/loader.gif">
	</p>	
	<p ng-if="mode == 'download' &amp;&amp; saving">
		Assembling your Bingo package... depending on the number of cards you purchased, this could take a few minutes.
		<img class="loader" ng-src="app-images/loader.gif">
	</p>
</div>