<header><h1>Make Your Own Bingo Cards</h1></header>
<ul class="printables">
	<li>Print Free Samples</li>	
	<li><img src="app-images/placeholder.jpg" alt="alt text here"></li>
	<li><img src="app-images/placeholder.jpg" alt="alt text here"></li>
	<li><img src="app-images/placeholder.jpg" alt="alt text here"></li>
</ul>
<p>To print free sample bingo cards, click here. Or you can make and print your own custom bingo cards for purchase, using our Bingo Wizard below. Follow these simple steps to create your own custom bingo cards:</p>
<ol> 
	<li>Step 1: Select a category for your bingo game.</li>
	<li>Step 2: Select the number of cards you want and the number of pictures you want on each of your bingo cards.</li>
	<li>Step 3. Select the actual images and words to print on your bingo cards.</li> 
</ol> 
<p>The Bingo Wizard will auto-generate all unique bingo cards and allers cards for you to download and print after checkout.</p> 
<button ng-click="setCurrentPage(1)">Get Started!</button>