<header>
	<img class="hero" src="app-images/hero.jpg" alt="alt text here">
	<h1>Make Your Own Bingo Cards!</h1>
	<p>To print your <span class="highlight upper">free</span> <span class="highlight">sample</span> click on the configuration you would prefer.</p>
</header>
<ul class="printables">
	<li>
		<a href="pdfs/free-sample-5x5.pdf" target="_blank">
			<img src="app-images/sample-5x5.jpg" alt="alt text here">
			<span class="label">5x5 Sample<span>
		</a>
	</p>
	</li>
	<li>
		<a href="pdfs/free-sample-4x3.pdf" target="_blank">
			<img src="app-images/sample-4x3.jpg" alt="alt text here">
			<span class="label">4x3 Sample<span>
		</a>
	</li>
	<li>
		<a href="pdfs/free-sample-3x2.pdf" target="_blank">
			<img src="app-images/sample-3x2.jpg" alt="alt text here">
			<span class="label">3x2 Sample<span>
		</a>
	</li>
</ul>
<p>Or you can print your own custom Bingo cards for purchase using our Bingo Wizard. <br/>Follow <span class="highlight">3 simple steps</span> to create your own custom Bingo game.</p>
 
<button ng-click="setCurrentPage(1)"><img alt="Let's get started" src="app-images/lets-get-started.jpg"/></button>